      @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Ubuntu+Mono|Yanone+Kaffeesatz|Hack');

      body {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: medium;
      }
      h1, h2 {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 400;
        margin-bottom: 0;
      }
    h3 {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: large !important;
        margin-bottom: 0;
      }
    .small * {
      font-size: 15pt !important;
    }
    code {
      font-family: 'Hack';
      border-radius: 5px;
    }
    .task {
      float: right;
      font-size: 0.9em;
      padding-top: 0em;
    }
    .task a {
      color: #080;
      text-decoration: none;
    }
    .lcolumn {float:left; }
    .lbcolumn {float:left; margin-top:-18px;}
    .rcolumn {float:right;}
    .column:first-of-type {float:left}
    .column:last-of-type {float:right}

    .split-40 .column:first-of-type {width: 55%; padding-right:2em; }
    .split-40 .column:last-of-type  {width: 40% }

    .split-40r .rcolumn {width: 40%; }
    .split-40r .lcolumn {width: 58%; }
    .split-40r .lbcolumn {width: 58%; }

    .split-50 .column:first-of-type {width: 50%; padding-right:1.5em; }
    .split-50 .column:last-of-type  {width: 48% }

    .split-60 .column:first-of-type {width: 58%; padding-right:1.5em; }
    .split-60 .column:last-of-type  {width: 40% }

    .overlay { position:absolute; top:0%; left:0%; height:100%; width:100%; color: rgba(0,0,0,0.7); box-shadow: inset 0 0 0 9999px; }
    .boxit {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 3em;
      position:absolute; top:40%; left:30%; height:20%; width:40%; color: rgb(255,255,255); }

    .remark-code, .remark-inline-code {
      font-family: 'Hack';
      font-size: 60%;
    }
    .remark-slide-content h1 {
      font-size: 48px;
    }
    .remark-slide-content {
      font-size: 150%;
    }
    .footnote {
      position: absolute;
      font-size: small;
      bottom: 3em;
      right: 3em;
    }

// Fix PDF print with chrome
// ---------------------------------------------------------------------------

@page {
  // 908px 681px for 4/3 slides
  size: 1210px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
