[submodule "subs/inotify-cpp"]
	path = subs/inotify-cpp
	url = https://github.com/erikzenker/inotify-cpp.git
[submodule "subs/lgraph"]
	path = subs/lgraph
	url = git@github.com:masc-ucsc/lgraph.git
[submodule "subs/sparsehash-c11"]
	path = subs/sparsehash-c11
	url = https://github.com/sparsehash/sparsehash-c11.git
